body {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  background: #0e1129;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  margin: 0 0 0 1rem;
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  border-radius: 50px;
background: #311260;
box-shadow:  20px 20px 60px #2a0f52,
             -20px -20px 60px #38156e;
}
